.BattleGround{
    display: flex;
    margin-bottom: 80px;
    flex-wrap: wrap;

    .BattleAlly{
        background-color: blueviolet;
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
        max-height: 600px;
    }

    .BattleEnemy{
        background-color: cadetblue;
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
    }

    button{
        flex-basis: 100%;
        padding: 15px 0;
    }
}




