.container{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    background-color: rgb(77, 87, 87);
    width: 1300px;
    height: 600px;

}

.BorderStyle{
    width: 350px;
    height: 500px;
    background-color: rgb(48, 53, 53);
    margin: 0 auto;
    border-radius: 5%;
    opacity: 0.7;
}

.CardStyle{
    width: 250px;
    height: 400px;
    background-color: rgb(165, 177, 177);
    background-image: -webkit-linear-gradient(0deg, #3f4244 50%, #696c6e 50%);
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 5%;
    opacity: 0.9;
    transition: 0.5s;
}

.NumberStyle{
    position: absolute;
    margin-left: 80px;
    margin-top: -15px;
    font-size: 140px;
    opacity: 0.4;
}

.H2Style{
    text-align: center;
    padding-top: 75px;
    font-size: 50px;
    margin: 0 auto;
}

.TextStyle{
    padding: 0px 31px 0px 31px;
    font-size: 20px;
}

.ButtonStyle{
    background-color: blueviolet;
    text-align: center;
    border-radius: 30%;
    border-color: blueviolet;
    width: auto;
    height: auto;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 70px;
}
.CardStyle:hover {
    transform: translateY(-60px);
}

.birdContainer{
    display: flex;
    padding: 30px 10px;
    max-width:  calc(100% - 32px);
    /* justify-content: space-between; */
    flex-wrap:nowrap;
    overflow: hidden;
}

.hunterContainer > img{
    transform: scaleX(-1);
}

.hunterGameContainer{
    background-color: rgb(92, 193, 193);
    margin: 10px;
    padding: 20px;
    border-radius: 100px;
}

.hunterContainer{
    display: flex;
    justify-content: space-between;
}

.counter{
    align-self: flex-end;
    padding: 0 40px 20px 0;
}

.BattleGround{
    display: flex;
    margin-bottom: 80px;
}

.BattleAlly{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.BattleEnemy{
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
